@font-face{
	font-family:Chapaza;
	src:url("Chapaza.ttf") format("truetype");
}

body{
	font-family:Chapaza;
}

h1{
	border-bottom:2px solid black;
}

a {
	color:black;
}

a :hover{
	color:grey;
}

a :clicked{
	color:black;
}

a.head_link{
	color:black;
	text-decoration:none;
}


#username{
	display:inline-block;
	float:right;
	font-style:italic;
	padding-right:10px;
	font-size:20px;
}

h2{
	font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    display: block;
}

h3{
	margin-top:5px;
	margin-bottom:10px;
}

img.logo{
	height:40px
}

.brand_header{
	display:inline-block;
	position:relative;
	font-size:35px;
	bottom:7px;
}

h2.a{
	display:inline-block;
	font-style:italic;
}

tr{
	border-bottom:2px solid black;
}

tr.exit{
	color:grey;
}

td{
	border-right:2px solid grey;
	margin-right:3px;
}

th{
	padding-left:10px;
	padding-right:10px;
}

.admin_ui_unit{
	border-bottom:1px solid black;
	padding-bottom:10px;
	padding-left:10px;
}

h3{
	margin-top:10px;
	padding-left:10px;
	font-weight:bold;
}

.passages_graph_body{
	position:relative;
	top:-50;
}

.passages_settings_header{
	border-top:1px solid black;
	margin-top:10px;
	padding-top:10px;
	padding-left:10px;
	font-weight:bold;
}

.passages_settings{
	margin-left:20px;
}

.graph_link{
	z-index:-50;
	border:solid 2px black;
	border-radius:20px;

}

.passage_node{
	position:absolute;
	border:2px solid black;
	height:60px;
	width:min-content;
	padding:5px;
	display:inline-block;
	z-index:50;
	background:white;
}

.node_badge{
	border: solid 1px black;
	height: 20px;
	width: 20px;
	border-radius: 15px;
	position: absolute;
	padding-top:5px;
	top: -15;
	left: -15;
	background: white;
	display: inline-block;
	font-size: 15;
	text-align: center;
}

.footer{
	height:20px;
	border-top:2px solid black;
	margin-top:10px;
}