h1{
	border-bottom:2px solid black;
}

h2{
	font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    display: block;
}

img.logo{
	height:40px
}

.brand_header{
	display:inline-block;
	position:relative;
	font-size:30px;
	bottom:7px;
}

.story_title{
	display:inline-block;
	font-style:italic;
}

.twine_table tr{
	border-bottom:2px solid black;
}

.twine_table td{
	border-right:2px solid grey;
	margin-right:3px;
}