.admin_ui_unit{
	border-bottom:1px solid black;
	padding-bottom:10px;
	padding-left:10px;
}

.passages_graph_body{
	position:relative;
	top:-50;
}

.passages_settings_header{
	border-top:1px solid black;
	margin-top:10px;
	padding-top:10px;
	padding-left:10px;
	font-weight:bold;
}

.passages_settings{
	margin-left:20px;
}

.graph_link{
	z-index:-50;
	border:solid 2px black;
	border-radius:20px;

}

.passage_node{
	position:absolute;
	border:2px solid black;
	height:60px;
	width:min-content;
	padding:5px;
	display:inline-block;
	z-index:50;
	background:white;
}

.node_badge{
	border: solid 1px black;
	height: 20px;
	width: 20px;
	border-radius: 15px;
	position: absolute;
	padding-top:5px;
	top: -15;
	left: -15;
	background: white;
	display: inline-block;
	font-size: 15;
	text-align: center;
}

.footer{
	height:20px;
	border-top:2px solid black;
	margin-top:10px;
}