h1{
	border-bottom:2px solid black;
}

img.logo{
	height:40px
}

a.head_link{
	color:black;
}

a.head_link :clicked{
	color:black;
}

.brand_header{
	display:inline-block;
	position:relative;
	font-size:30px;
	bottom:7px;
}

#username{
	display:inline-block;
	float:right;
	font-style:italic;
	padding-right:10px;
	font-size:20px;
}

.twine_entry{
	margin-left: 10px;
	margin-bottom:10px;
	font-size: 20px;
	border: 2px solid black;
	width: 40%;
	padding-left: 10px;
}

h3{
	margin-top:5px;
}

.twine_entry a{
	color:black;
}

.twine_entry a :hover{
	color:grey;
}

.twine_entry a :clicked{
	color:black;
}