.twine_entry{

}

.twine_entry a{
	color:black;
}

.twine_entry a :hover{
	color:grey;
}

.twine_entry a :clicked{
	color:black;
}

.admin_content{
	border-top:1px solid black;
	padding-top:10px;
}

.new_user{

}

.user_table{

}

#create_user_errors{
	font-size:15px;
	font-style:italic;
	color:red;
}

#code_errors{
	font-size:15px;
	font-style:italic;
}
