#login_errors{
	font-size:15px;
	font-style:italic;
	color:red;
}

#create_user_errors{
	font-size:15px;
	font-style:italic;
}

.container{
	height:100%;
}

.box_content{
	margin:auto;
	margin-bottom:10px;
}

img{
	vertical-align: inherit !important;
}

.nav-item{
	border-radius: 0px
}