.loom_ui_main{
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: transparent;
	padding: 10px;
}

.loom_client{
	height:30px;
	width:30px;
	line-height:30px;
	font-size:17px;
	padding:10px;
	display:inline-block;
	background:grey;
	border:2px solid grey;
	margin-right:10px;
	border-radius:60px;
	position:relative;
}

.loom_client:last-child{
	margin-right:0px;
}

.other_clients{
	display:inline-block;
}

.current_client{
	display:inline-block;
	margin-left:5px;
}

.current_client .loom_client{
	border:5px solid white;
}

.loom_client_detail{
	background:black;
	display:none; 
	border-radius:10px;
	width:120px;
	height:60px;
	position:absolute;
	top:-80px;
	left:-85;
	padding-left:10px;
	border:2px solid white;
}

.you.loom_client_detail{
	height:100px;
}

.loom_client_detail.large{
	width:400px;
	height:200px;
	top:-220px;
	left:-365px;
}

.edit_client_button.show{
	display:inline;
}

.edit_client_button.hide{
	display:none;
}

.edit_client_interface.hide{
	display:none;
}

.edit_client_interface.show{
	display:block;
}

.hide_edit_interface{
	float:right;
	padding-right:10px;
}