<html>
<head>
<title> Loom </title>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/socketio.js"></script>
<script type="text/javascript" src="/static/landing.js"> </script>
<link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
<link rel="stylesheet" type="text/css" href="/static/landing.css"> </style>
</head>
<body>
	<h1>
		<a class="head_link" href="/"> <img class="logo" src='/static/favicon.ico'> <div class="brand_header"> Loom </div> </a>
		<div id="username">logged in as <span id="logged_in_user">{{current_user.username}}</span> | <a href="/logout"> logout </a></div>
	</h1>

	</h1>
	<div class="invite_code box_content">
		<h3> Invite Code </h3>
		<label for="uname">Enter Code</label>
		<input type="text" id="code" name="code" value="">
		<button id="submit_code"> Submit </button>
		<div id="code_errors">
		</div>
	</div>
	<div class="twine list">
		<h2> Stories </h2>
		{% for twine in twines %}

		<div class="box_content twine_entry"> 
			<h3>{{ twine.story.title }}</h3>
			<a href="/twine/{{ twine.story.story_id }}"> play story </a> </br>
			{% if twine.admin %}
			<a class="admin_link" href="/twine/{{ twine.story.story_id }}/admin"> admin view </a>
			{% endif %}
		</div>

		{% endfor %}
	</div>
	{% if current_user.admin %}
	<div class="admin_content">
		<h2> Admin </h2>
		<div class="box_content new_user">
			<h3> Create New Users </h3>
			<label for="uname">Username</label>
			<input type="text" id="uname" name="uname" value="">
			<labl for="pword"> Password </labl>
			<input type="password" id="pword" name="pword" value="">
			<div id="create_user_errors"></div>
			<button id="submit_user"> Create </button>
		</div>
		<div class="box_content">
			<h3> User List </h3>
			<table>
				<tr>
					<th> Username </th>
					<th> Admin </th>
				</tr>
				<tbody id="user_table">
				{% for user in users %}
					<tr class="user" id='user_{{user.user_id}}'> 
						<td> {{ user.username }} </td>
						<td><input type="checkbox" value="{{ user.username }}" class="admin_toggle" {% if user.admin %} checked {% endif %} 
							{% if user.username == current_user.username%} disabled {% endif %} ></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
	{% endif %}

</body>

</html>