<html>
<head>
<title> Loom </title>
<link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
<link rel="stylesheet" type="text/css" href="/static/landing.css"> </style>
</head>
<body>
	<h1>
		<a class="head_link" href="/"> <img class="logo" src='/static/favicon.ico'> <div class="brand_header"> Loom </div> </a>
		<div id="username">logged in as {{current_user.username}} | <a href="/logout"> logout </a></div>
	</h1>

	</h1>
	<div class="twine list">
		{% for twine in twines %}

		<div class="twine_entry"> 
			<h3>{{ twine.title }}</h3>
			<a href="/twine/{{ twine.story_id }}"> play story </a> </br>
			<a class="admin_link" href="/twine/{{ twine.story_id }}/admin"> admin view </a>
		</div>

		{% endfor %}
	</div>
</body>

</html>