<html>
<head>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/socketio.js"></script>
<script type='text/javascript' src='/static/bootstrap.bundle.min.js'></script>
<script type="text/javascript" src="/static/login.js"></script>
<link rel='stylesheet' type='text/css' href='/static/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="/static/common.css"> </style>
<link rel="stylesheet" type="text/css" href="/static/login.css"> </style>
<link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
<title> Loom | login </title>
</head>
<body>
	<h1> <a class="head_link" href="/"> <img class="logo" src='/static/favicon.ico'><div class="brand_header">Loom </div> </a></h1>
	<div class="container">


		<div class="box_content">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
				    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">
				    Login</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false">Create User</a>
				  </li>
			</ul>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
					
					<h3> Login </h3>
					<label for="uname">Username</label>
					<input type="text" id="uname" name="uname" value="">
					<labl for="pword"> Password </labl>
					<input type="password" id="pword" name="pword" value="">
					<div id="login_errors"></div>
					<button id="submit"> Login </button>

				</div>
				<div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
					
					<h3> Create User </h3>
					<label for="create_uname">Username</label>
					<input type="text" id="create_uname" name="create_uname" value="">
					<labl for="create_pword"> Password </labl>
					<input type="password" id="create_pword" name="create_pword" value="">
					<div id="create_user_errors"></div>
					<button id="create_user"> Create </button>

				</div>
				
			</div>
		</div>
	</div>
</body>

</html>