<html>
<head>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/socketio.js"></script>
<script type="text/javascript" src="/static/login.js"></script>
<link rel="stylesheet" type="text/css" href="/static/login.css"> </style>
<link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
<title> Loom | login </title>
</head>
<body>
<h1> <a class="head_link" href="/"> <img class="logo" src='/static/favicon.ico'> <div class="brand_header"> Loom </div> </a></h1>

<div>
	<label for="uname">Username</label>
	<input type="text" id="uname" name="uname" value="">
	<labl for="pword"> Password </labl>
	<input type="password" id="pword" name="pword" value="">
	<div id="login_errors"></div>
	<button id="submit"> Login </button>
</div>

</body>

</html>